/*default*/
body, * {
  font-family: 'pretendard';
  font-size: 16px;
  font-weight: 300;
  box-sizing: border-box;
}
body {
  background-color: $silver-gray;
}
.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding:0;
  margin:-1px;
  overflow: hidden;
  border-width: 0;
  clip-path: inset(50%);
  clip: rect(0, 0, 0, 0);
}
.inline-flex {
  @include inlineflex-center;
}
.noData {
  color: $light-gray;
}
.w-100 {
  width: 100%;
}
/* layout */
#__nuxt {
  display: flex;
  justify-content: center;
}
.wrapper {
  margin-top: 40px;
}
.main-ttl {
  font-size: $f-l; 
  font-weight: 700;
}

/* utils*/
// button
  .btn {
    font-weight: 500;
    padding: 10px 15px;
    background-color: $main;
    transition: .2s;
    color: $white;
    &:hover {
      background-color: $dark-purple;
    }
    &--g {
      background-color: $gray;
      &:hover {
        background-color: #5a5a5a;
      }
    }
    &--w {
      background-color: $white;
      border: 1px solid $gray;
      color: $black;
      &:hover {
        background-color: $silver-gray;
      }
    }
  }
  // 색없음 버튼
  .noColor {
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid $light-red;
    transition: .2s;
    flex-shrink: 0;
    &::after, &::before {
      content: '';
      position: absolute;
      left:50%;
      right:50%;
      width: 30px;
      height: 1px;
      transform: translate(-50%, -50%) rotate(45deg);
      background-color: $light-red;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &--active {
      border: 1px solid $red;
      &::after, &::before{
        background-color: $red;
      }
    }
  }

  .toggle {
    font-size: $f-form-body;
    @include inlineflex-center;
    cursor: pointer;
    &__btn {
      display: inline-block;
      width: 30px;
      height: 16px;
      background-color: $main;
      border-radius: 8px;
      position: relative;
      margin-right: 10px;
      transition: .2s;
      i {
        width: 12px;
        height: 12px;
        display: inline-block;
        border-radius: 50%;
        position: absolute;
        top:2px;
        left:2px;
        background-color: $silver-gray;
        transition: .2s;
      }
    }
    &__btn--f {
      background-color: $light-gray;
      i {
        background-color: $main;
        left:calc(100% - 12px - 2px);
      }
    }
  }

  /* form */
  .form {
    &__color {
      gap: 10px;
    }
  }
  .selectbox {
    padding: 8px 10px;
    border-radius: 0;
  }
  .btn2, .selectbox2, .input {
    // width: fit-content;
    font-size: $f-form-body;
    font-weight: 500;
    border: 1px solid $border;
    height: 26px;
    padding: 4px 10px;
    cursor: pointer;
    transition: .2s;
    &--checked {
      background-color: $checkedBg;
    }
    &--unchecked {
      color: $unchecked;
      &:hover {
        background-color: $checkedBg;
        color: $black;
      }
    }
    &--disabled {
      background-color: $disabledBg;
      color: $disabledFont;
    }
  }
  option {
    font-size: $f-form-body;
    font-weight: 500;
  }
  .selectbox2 {
    padding-top:0;
    padding-bottom:0;
  }
  .textarea {
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    min-height: 80px;
    border:none;
    flex: 1;
  }
  .label {
    display: inline-block;
    margin-right: 5px;
  }
  .input {
    &--color {
      border:none;
      padding:0;
      margin:0;
      width: 26px;
      height: 26px;
      cursor: pointer;
    }
    &--small {
      width: 70px;
    }
  }
  :disabled {
    background-color: $disabledBg;
    color: $disabledFont;
    text-decoration: line-through;
  }

/* window modal */
.win {
  background-color: $silver-gray;
  padding: 40px;
  width: 1040px;
  max-width: 90vw;
  &__wrapper {
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    @include flex-center;
    background-color: rgba(0, 0, 0, 0.6);
  }
  &__ttl {
    margin-bottom: 30px;
  }
}

@media screen and (max-width:768px) {
  *, p {
    font-size: 15px;
  }
  .m-none {
    display: none;
  }
  .wrapper {
   margin: 20px 0;
  }
  .btn {
    padding: 7px 12px;
  }
}

/* transition */
.slide-enter-active,
.slide-leave-active {
  transition: height 0s ease, opacity 0.0s ease;
}

.slide-enter-from,
.slide-leave-to {
  height: 0;
  opacity: 0;
}

.slide-enter-to,
.slide-leave-from {
  height: auto;
  opacity: 1;
}