/*pretendard*/

@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/pretendard/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* maruburi */
@font-face {
    font-family: 'MaruBuri';
    src: url('/fonts/maruburi/MaruBuri-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'MaruBuri';
    src: url('/fonts/maruburi/MaruBuri-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'MaruBuri';
    src: url('/fonts/maruburi/MaruBuri-SemiBold.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'MaruBuri';
    src: url('/fonts/maruburi/MaruBuri-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* 북성로 */
@font-face {
    font-family: 'DeaguBukseongro';
    src: url('/fonts/DeaguBukseongro/DeaguBukseongro-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}
@font-face {
    font-family: 'DeaguBukseongro';
    src: url('/fonts/DeaguBukseongro/DeaguBukseongro-Extrabold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

/* 조선천년체 */
@font-face {
    font-family: 'ChosunCentennial';
    src: url('/fonts/ChosunCentennial.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}


