@mixin font-style($size, $weight) {
  font-size: $size;
  font-weight: $weight;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin inlineflex-center {
  display: inline-flex;
  align-items: center;
}

@mixin position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes skeleton-gradient {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }

    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }

    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}